
<form method="post">
  <div class="container-lg">
    <div class="jumbotron">
      <div class="container text-center">
        <h1 class="display-0">Контрольный вопрос</h1>
        <p><%= @quest.to_s%><p>
      </div>   
    </div>

    <div class="container-fluid mb-4" align="center">
      <% @quest.answers.each_with_index do |answer, index|%>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="<%= index %>" name="checkbox[]" id="check<%= index%>">
          <label class="form-check-label" for="check<%= index%>">
            <%= answer%>
          </label>
        </div>
      <% end %>
    </div>
    <div class="container-fluid mb-4" align="center">
      <div class="form-row">
        <div class="form-group col-md">
          <% if @error %>
            <a class="lead" style="color: #f00;"><%= @error %></a>
          <% end %>
          <button type="submit" class="btn btn-success btn-lg btn-block">Дать ответ</button>
          <a class="btn btn-danger btn-lg btn-block" href="/no" role="button">Пропустить вопрос</a>
        </div>
      </div> 
    </div>
  </div>
</form>